In [1]:
# Importing necessary libaries
import pandas as pd
from pathlib import Path
from geopy import distance

# Creating file paths
october = Path('raw_data/JC-202309-citibike-tripdata.csv')
november = Path('raw_data/JC-202310-citibike-tripdata.csv')
december = Path('raw_data/JC-202311-citibike-tripdata.csv')

# Creating DataFrames from .csv files
sept_df = pd.read_csv(october)
oct_df = pd.read_csv(november)
nov_df = pd.read_csv(december)

**Creating ride dataset**

In [2]:
# Displaying DataFrames

sept_df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4052081EAF41D252,classic_bike,2023-09-01 17:25:27,2023-09-01 17:31:13,Baldwin at Montgomery,JC020,Liberty Light Rail,JC052,40.723484,-74.064445,40.711242,-74.055701,member
1,330043C418DD78E3,classic_bike,2023-09-01 12:57:39,2023-09-01 13:08:50,Baldwin at Montgomery,JC020,Exchange Pl,JC116,40.723503,-74.064276,40.716366,-74.034344,casual
2,4D0F3462818482CF,classic_bike,2023-09-28 08:52:24,2023-09-28 09:15:37,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723508,-74.064379,40.723659,-74.064194,member
3,BF4A3EBF9352E283,classic_bike,2023-09-02 15:25:33,2023-09-02 15:57:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723659,-74.064194,40.723659,-74.064194,casual
4,957FA73CA6E0C552,classic_bike,2023-09-14 16:46:42,2023-09-14 17:01:18,Baldwin at Montgomery,JC020,Paulus Hook,JC002,40.723659,-74.064194,40.714145,-74.033552,casual

In [3]:
oct_df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,McGinley Square,JC055,Marin Light Rail,JC013,40.725340,-74.067622,40.714584,-74.042817,member
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,Astor Place,JC077,Grove St PATH,JC115,40.719299,-74.071357,40.719410,-74.043090,member
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,McGinley Square,JC055,Grove St PATH,JC115,40.725428,-74.067577,40.719410,-74.043090,member
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,Astor Place,JC077,Marin Light Rail,JC013,40.719267,-74.071328,40.714584,-74.042817,member
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,McGinley Square,JC055,Grove St PATH,JC115,40.725340,-74.067622,40.719410,-74.043090,casual

In [4]:
nov_df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711130,-74.078900,40.723659,-74.064194,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750044,-74.035878,40.743140,-74.040041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750100,-74.035852,40.743140,-74.040041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711130,-74.078900,40.731169,-74.057574,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743148,-74.040053,40.737215,-74.028865,member

In [5]:
# Modifications to DataFrames before Union

sept_df['month'] = 'September'
oct_df['month'] = 'October'
nov_df['month'] = 'November'

In [6]:
# Checking if modifications are done

oct_df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,McGinley Square,JC055,Marin Light Rail,JC013,40.725340,-74.067622,40.714584,-74.042817,member,October
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,Astor Place,JC077,Grove St PATH,JC115,40.719299,-74.071357,40.719410,-74.043090,member,October
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,McGinley Square,JC055,Grove St PATH,JC115,40.725428,-74.067577,40.719410,-74.043090,member,October
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,Astor Place,JC077,Marin Light Rail,JC013,40.719267,-74.071328,40.714584,-74.042817,member,October
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,McGinley Square,JC055,Grove St PATH,JC115,40.725340,-74.067622,40.719410,-74.043090,casual,October

In [7]:
# Union
full_df = pd.concat([sept_df, oct_df, nov_df])

# Removing any null values
full_df.dropna()

# Resetting index
full_df.reset_index(drop=True, inplace=True)

full_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month
0,4052081EAF41D252,classic_bike,2023-09-01 17:25:27,2023-09-01 17:31:13,Baldwin at Montgomery,JC020,Liberty Light Rail,JC052,40.723484,-74.064445,40.711242,-74.055701,member,September
1,330043C418DD78E3,classic_bike,2023-09-01 12:57:39,2023-09-01 13:08:50,Baldwin at Montgomery,JC020,Exchange Pl,JC116,40.723503,-74.064276,40.716366,-74.034344,casual,September
2,4D0F3462818482CF,classic_bike,2023-09-28 08:52:24,2023-09-28 09:15:37,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723508,-74.064379,40.723659,-74.064194,member,September
3,BF4A3EBF9352E283,classic_bike,2023-09-02 15:25:33,2023-09-02 15:57:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723659,-74.064194,40.723659,-74.064194,casual,September
4,957FA73CA6E0C552,classic_bike,2023-09-14 16:46:42,2023-09-14 17:01:18,Baldwin at Montgomery,JC020,Paulus Hook,JC002,40.723659,-74.064194,40.714145,-74.033552,casual,September
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267458,EE6CF90DF3984253,classic_bike,2023-11-22 16:20:23,2023-11-22 16:26:38,Glenwood Ave,JC094,Bergen Ave & Sip Ave,JC109,40.727551,-74.071061,40.731009,-74.064437,member,November
267459,DB574978E7FABC08,classic_bike,2023-11-21 07:01:57,2023-11-21 07:06:14,Glenwood Ave,JC094,Bergen Ave & Sip Ave,JC109,40.727551,-74.071061,40.731009,-74.064437,member,November
267460,E8E26D6A35E922FA,classic_bike,2023-11-14 07:51:51,2023-11-14 08:04:20,Glenwood Ave,JC094,Montgomery St,JC099,40.727755,-74.071096,40.719420,-74.050990,member,November
267461,0D6ECB6E18E32C63,classic_bike,2023-11-17 08:15:06,2023-11-17 08:26:57,Glenwood Ave,JC094,Montgomery St,JC099,40.727624,-74.071103,40.719420,-74.050990,member,November
267462,817DBC6302EDF681,classic_bike,2023-11-16 10:55:31,2023-11-16 11:03:47,Glenwood Ave,JC094,Hilltop,JC019,40.727551,-74.071061,40.731169,-74.057574,member,November

In [8]:
# Since the start point and end point are provided, displacement can be measured.

# Create new column
full_df['displacement'] = 0

# Iteration to find displacement for every row
for i in range(len(full_df)):
    try:
        start_coord = (full_df.iloc[i]['start_lat'], full_df.iloc[i]['start_lng'])
        end_coord = (full_df.iloc[i]['end_lat'], full_df.iloc[i]['end_lng'])

        disp = distance.distance(start_coord, end_coord).km
        full_df.loc[i, 'displacement'] = disp
    except ValueError:
        full_df.loc[i, 'displacement'] = 0

"\n\n# Since the start point and end point are provided, displacement can be measured.\n\n# Create new column\nfull_df['displacement'] = 0\n\n# Iteration to find displacement for every row\nfor i in range(len(full_df) - 1):\n    try:\n        start_coord = (full_df.iloc[i]['start_lat'], full_df.iloc[i]['start_lng'])\n        end_coord = (full_df.iloc[i]['end_lat'], full_df.iloc[i]['end_lng'])\n\n        disp = distance.distance(start_coord, end_coord).km\n        full_df.loc[i, 'displacement'] = disp\n    except ValueError:\n        full_df.loc[i, 'displacement'] = 0\n        \n"

In [9]:
full_df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month
0,4052081EAF41D252,classic_bike,2023-09-01 17:25:27,2023-09-01 17:31:13,Baldwin at Montgomery,JC020,Liberty Light Rail,JC052,40.723484,-74.064445,40.711242,-74.055701,member,September
1,330043C418DD78E3,classic_bike,2023-09-01 12:57:39,2023-09-01 13:08:50,Baldwin at Montgomery,JC020,Exchange Pl,JC116,40.723503,-74.064276,40.716366,-74.034344,casual,September
2,4D0F3462818482CF,classic_bike,2023-09-28 08:52:24,2023-09-28 09:15:37,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723508,-74.064379,40.723659,-74.064194,member,September
3,BF4A3EBF9352E283,classic_bike,2023-09-02 15:25:33,2023-09-02 15:57:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723659,-74.064194,40.723659,-74.064194,casual,September
4,957FA73CA6E0C552,classic_bike,2023-09-14 16:46:42,2023-09-14 17:01:18,Baldwin at Montgomery,JC020,Paulus Hook,JC002,40.723659,-74.064194,40.714145,-74.033552,casual,September

In [10]:
# Cleaning DataFrame to only include columns used for Tableau
clean_df = full_df[['ride_id', 'rideable_type', 'member_casual', 'started_at', 'month', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'displacement']]
clean_df.head(5)

In [11]:
# Creating new csv file
clean_df.to_csv('clean_data.csv', index=False)

**Creating coordinate dataset**

In [25]:
# Iteration to collect unique station names and their coordinates.

# Preparing DataFrame and empty lists
station_col = full_df[['start_station_name', 'start_lat', 'start_lng']]
stations = []
lat = []
lng = []

# First, determine unique stations
for i in range(len(station_col)):
    if station_col.iloc[i]['start_station_name'] not in stations:
        stations.append(station_col.iloc[i]['start_station_name'])
        
# Then for each station, determine coordinates by getting the average of the latitude and longitude to reduce outlier impact
for i in range(len(stations)):
    station = stations[i]
    station_coords = station_col[station_col['start_station_name'] == station]
    lat.append(station_coords['start_lat'].mean())
    lng.append(station_coords['start_lng'].mean())

In [26]:
# Checking whether all 
print(len(stations))
print(len(lat))
print(len(lng))

161
161
161

In [27]:
# Creating DataFrame of stations and coords
station_df = pd.DataFrame({'start_station_name': stations, 'lat': lat, 'lng': lng})

station_df.head(5)

      start_station_name        lat        lng
0  Baldwin at Montgomery  40.723609 -74.064110
1           Brunswick St  40.724124 -74.050636
2     Liberty Light Rail  40.711359 -74.055651
3         Riverview Park  40.744423 -74.043817
4           Manila & 1st  40.721717 -74.042873

In [18]:
# Creating new csv file
station_df.to_csv('stations.csv', index=False)